body {
        font-family: Georgia, "Arial", Times, sans;
	color: 000000;
	background-color: CCCCCC; }

a:link, a:visited {  color:000000; 
		     text-decoration: none;  }

a:hover {   color:000000; 
	    text-decoration: underline; }

a.topic:link, a.topic:visited { color:000000; 
				text-decoration: none;  }

a.topic:hover { color:000000; 
		font-weight: bold;
		font-size: 1.5em;
		text-decoration: underline; }

.newentry { width: 800px; 
	    height: 200px; 
	    background-color: #DDDDDD;
	    margin-left: 20px;
	    white-space: pre-wrap;
	    font-family: Courier;
	    border-style: solid;
	    border-color: #000000;
	    padding: 0px 0px 0px 0px; } 


textarea.entry { background-color: #FFFFFF;
		 border-width: 2px;
		 width: 100%;
                 margin-left: 160px; 
                 margin-right: 50px; } 

div.spacer { padding-top: 15px; 
             clear: both; }

.header_div, .headerbutton_div, .title_div, .rightbutton_div { border-style: solid;
                                                               background-color: #FFFFFF;
                                                               border-width: 2px;
                                                               margin: 2px;  
                                                               vertical-align: top;
                                                               padding: 3px;
                                                               float: left; }

.title_div { font-size: 2.0em;
             text-wrap: normal; } 

.rightbutton_div { background-color: #FFFFFF;
                   float: right; }
